@import "tailwindcss";

:root {
  --scale-multiplier: 1;
  --chessboard-size: calc(var(--scale-multiplier, 1) * 512px);
}

html,
body {
  width: 100%;
  height: 100%;
}

#app,
main {
  width: 100%;
  height: 100%;
}

.chess-cell svg {
  width: 100%;
  height: 100%;
}
